<div class="navbar">
  <input type="checkbox" id="navbar-checkbox">
  <div class="navbar-header">
    <div class="navbar-title">
      Logo
    </div>
  </div>
  <div class="navbar-responsive-button">
    <label for="navbar-checkbox">
      <span class="hamburger-icon"></span>
      <span class="hamburger-icon"> </span>
      <span class="hamburger-icon"></span>
    </label>
  </div>
  <div class="navbar-links">
    <a routerLink="/home"  >Home</a>
    <a routerLink="/departamentos"  >departamentos</a>
    <a routerLink="/funcionarios"  >funcionarios</a>
    <a routerLink="/cadastro"  >Cadastro</a>
  </div>
</div >

<section>
  <div id="slide">
    <h1></h1><br>
        <button>saiba mais</button>
</div>
</section>

  


<router-outlet></router-outlet>
